html {
  scroll-behavior: smooth; /* Ativa a rolagem suave */
}

body {
  font-family: 'Montserrat', sans-serif; /* Fonte padrão */
  margin: 0;
  padding: 0;
  background: rgb(27, 27, 27);
}

header {
  background-image: url('./componentes/imagens/fundo-header.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

header .logo {
  width: 300px; /* Ajuste o tamanho da logo */
  height: auto;
}

nav {
  display: flex;
  justify-content: center; /* Centraliza os links do menu */
  padding: 10px 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: rgba(234,198,87,245);
}

/* Seções com degradê */
section {
  text-align: center;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


h1, h2, h3 {
  color: #f4f4f4; /* Melhorar a legibilidade contra o fundo escuro */
}

.contatos {
  background-color: rgba(255, 255, 255, 0.1); /* Fundo escuro e sutil para contatos */
  padding: 20px;
  text-align: center;
}

.whatsapp-button-container {
  position: fixed; /* Permite que o botão fique fixo na tela */
  right: 20px; /* Distância da borda direita */
  bottom: 20px; /* Distância da borda inferior */
  z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

.whatsapp-button {
  display: flex; /* Flexbox para centralizar o texto */
  justify-content: center;
  align-items: center;
  background-color: rgba(234,198,87,245);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 50px; /* Botão arredondado */
  border: 2px solid black;
  text-decoration: none;
  font-size: 16px;
}

.whatsapp-button:hover {
  background-color: #d49203;
}

.agendamentoOnline-button{
  display: flex;/* Flexbox para centralizar o texto */
  justify-content: center;
  align-items: center;
  background-color: rgba(234,198,87,245);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 50px; /* Botão arredondado */
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  border: 2px solid black;

}

.agendamentoOnline-button:hover{
  background-color: #d49203;
}

/* localizacao.css */

#localizacao {
  position: relative; /* Necessário para o posicionamento do pseudo-elemento */
  padding: 20px;
  text-align: center;
  color: rgba(234, 198, 87, 1); /* Cor do texto */
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #4B3D1D, #000000, #4B3D1D); /* Degradê do dourado escuro para preto e volta para dourado */
  overflow: hidden; /* Impede que o conteúdo saia da área da seção */
}

/* Pseudo-elemento para a sobreposição escura */
#localizacao::before {
  content: '';
  position: absolute; /* Posiciona o pseudo-elemento em relação ao pai */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade de 50% */
  z-index: 0; /* Coloca a sobreposição atrás do conteúdo */
}

/* O iframe precisa estar acima da sobreposição */
#localizacao iframe {
  position: relative; /* Necessário para que o iframe fique acima da sobreposição */
  z-index: 1; /* Coloca o iframe acima da sobreposição */
  width: 100%;
  height: auto;
  min-height: 300px; /* Ajuste o valor de acordo com o que fica melhor em telas pequenas */
  border: 0;
}

/* Aumenta a altura do iframe para telas maiores */
@media (min-width: 768px) {
  #localizacao iframe {
      height: 450px; /* Altura padrão para telas maiores */
  }
}
.botaoMapa-containe{
  position: fixed; /* Permite que o botão fique fixo na tela */
  right: 20px; /* Distância da borda direita */
  bottom: 20px; /* Distância da borda inferior */
  z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

.irParaRotas-button{
  display: flex; /* Flexbox para centralizar o texto */
  justify-content: center;
  align-items: center;
  background-color: rgba(234,198,87,245);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 50px; /* Botão arredondado */
  text-decoration: none;
  font-size: 16px;
  margin-left: 40%;
  margin-right: 40%;
}

.irParaRotas-button:hover{
  background-color: #d49203;
}

@media(max-width: 1067px){ /*Diminui o tamanho da font em telas menores*/
  .irParaRotas-button{
    font-size: 12px;
  }
}

@media(max-width: 768px){ /*Diminui a porcentagem do botao sobre a tela*/
  .irParaRotas-button{
    margin-left: 30%;
    margin-right: 30%;
  }
}

.info-contatos, strong{
  color: #f4f4f4;
}