/* colors.css */

/* Background Colors */
.bg-color1 {
    background-color: #e1a83c;
  }
  
  .bg-color2 {
    background-color: #f1de7e;
  }
  
  .bg-color3 {
    background-color: #221d0b;
  }
  
  .bg-color4 {
    background-color: #a28d55;
  }
  
  .bg-color5 {
    background-color: #b9b58d;
  }
  
  /* Text Colors */
  .text-color1 {
    color: #e1a83c;
  }
  
  .text-color2 {
    color: #f1de7e;
  }
  
  .text-color3 {
    color: #221d0b;
  }
  
  .text-color4 {
    color: #a28d55;
  }
  
  .text-color5 {
    color: #b9b58d;
  }
  