@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* equipe.css */

.equipe {
    padding: 20px;
    text-align: center;
    color: rgba(234, 198, 87, 1);
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4B3D1D, #000000, #4B3D1D);
    position: relative;
}


/* Pseudo-elemento para a sobreposição escura */
.equipe::before {
    content: ''; /* Necessário para criar um pseudo-elemento vazio */
    position: absolute; /* Posiciona o pseudo-elemento em relação ao pai */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    right: 0; /* Alinha à direita */
    bottom: 0; /* Alinha à parte inferior */
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade de 50% */
    z-index: 0; /* Coloca a sobreposição atrás do conteúdo */
}

/* Aumenta o índice z do conteúdo para ficar acima da sobreposição */
.equipe > * {
    position: relative; /* Necessário para que os elementos filhos sejam acima da sobreposição */
    z-index: 1; /* Coloca o conteúdo acima da sobreposição */
}

/* Estilos para os cartões dos barbeiros */
.barbers {
    display: flex; /* Flexbox para layout responsivo */
    justify-content: center; /* Centraliza os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem linha em telas menores */
    gap: 20px; /* Espaço entre os barbeiros */
}

/* Estilos individuais dos cartões dos barbeiros */
.barber {
    background-color: rgba(234, 198, 87, 0.8); /* Fundo dos cartões em tom dourado com opacidade */
    border-radius: 8px; /* Bordas arredondadas nos cartões */
    padding: 8px; /* Espaçamento interno dos cartões */
    transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
}

.barber:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse sobre o cartão */
}

.barber img {
    max-width: 100%; /* Imagem não ultrapassa a largura do cartão */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 30%; /* Faz as imagens dos barbeiros ficarem circulares */
}

/* Estilos para a seção local */
.local {
    margin-top: 20px;
    padding: 0 15px; /* Adiciona espaçamento lateral */
}

.local-img {
    display: block; /* Garante que a imagem seja tratada como um bloco */
    width: 60%; /* Define o tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Mantém as bordas arredondadas */
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
}

.slick-slide {
    display: flex;
    justify-content: center;
}

.slick-dots li button:before {
    color: rgba(234, 198, 87, 1); /* Cor das bolinhas */
}

.slick-prev:before, .slick-next:before {
    color: rgba(234, 198, 87, 1); /* Cor das setas de navegação */
}


/* Responsividade */
@media (max-width: 768px) {
    .barber, .local img {
        flex: 1 1 calc(50% - 20px); /* Ajuste para telas menores, duas colunas */
    }
}

@media (max-width: 480px) {
    .barber, .local img {
        flex: 1 1 100%; /* Cada item ocupa 100% em telas pequenas, uma coluna */
    }
}

.carousel {
    
}

.slick-prev:before, .slick-next:before {
    color: rgb(2, 2, 2); /* Cor das setas de navegação */
}

.slick-dots li button:before {
    color: rgba(234, 198, 87, 1); /* Cor das bolinhas de navegação */
}

/* Responsividade */
@media (max-width: 768px) {
    .local-img {
        width: 100%; /* A imagem ocupa 100% da largura em telas menores */
    }
}